.mdiv{
    margin: 100px 10px 0 10px;
}
.nodata{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
}
.imgborder{
    border-radius: 5px;
    cursor: pointer;
}
#myTargetElement{
    display: flex;
    justify-content: center;
    margin: 50px;
}
@media screen and (min-width:0px) and (max-width:900px){
    .nodata{
        grid-template-columns: repeat(4,1fr);
        gap: 15px;
    }
}
@media screen and (min-width:0px) and (max-width:600px){
    .JustforGrid{
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
}
@media screen and (min-width:0px) and (max-width:500px){
    .JustforGrid{
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
    }
    .mdiv{
        margin: 100px 5px 0 5px;
    }
}
@media screen and (min-width:0px) and (max-width:400px){
    .JustforGrid{
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
    }
    .mdiv{
        margin: 100px 0px 0 0px;
    }
}